<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password - Perid</title>
    <meta name="description" content="Change your password for your Virtual Personal ID">
    <link rel="shortcut icon" href="/assets/PeridIcon.svg" type="image/x-icon">
    <!-- Fontawesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
    <!-- Custom -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/form.css"> 
</head>
<body class="preload">
    <div class="content-container container">
        <%- include('../partials/header') %> 

        <div class="wraper">
            <form id="forgot-pwd-form" class="d-block" action="/account/my-account/change-password" method="POST">
                <%- include('../partials/form-messages') %>
                <div class="mb-3">
                    <h2>Send email to verify your password</h2>
                    <p>This is a security measure to ensure that you are the owner of this account.</p>
                </div>
                <button class="btn btn-primary"><i class="fas fa-envelope"></i> Send</button>
            </form>
        </div>
    </div>
</body>
<!-- Bootstrap -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/main.js"></script>
</html>