<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Perid</title>
    <meta name="description" content="Login and edit your Virtual Personal ID">
    <link rel="shortcut icon" href="/assets/PeridIcon.svg" type="image/x-icon">
    <!-- Fontawesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
    <!-- Custom -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/form.css">
</head>
<body class="preload">
    <div class="content-container container">
        <%- include('../partials/header') %> 

        <div class="wraper">
            <form id="login-pid-form" class="d-block" action="/account/login" method="POST" autocomplete="off">
                <%- include('../partials/form-messages') %>
                <div class="mb-2">
                    <label for="InputEMail">Email</label>
                    <input type="email" name="email" id="InputEMail" placeholder="Enter Email"
                    value="<%= typeof email != 'undefined' ? email : '' %>" required>
                </div>
                <div class="mb-2">
                    <label for="InputPassword">Password</label>
                    <input type="password" name="password" id="InputPassword" placeholder="Enter Password" required>
                </div>
                <button type="submit" class="btn btn-primary"><i class="fas fa-user"></i> Login</button>
                <div class="form-text" style="margin-top: 15px;">
                    <div>No Account? <a href="/account/register">Register</a></div>
                    <div>Forgot your password? <a href="/account/forgot-password">Reset</a></div>
                </div>
            </form>
        </div>
    </div>
</body>
<!-- Bootstrap -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</html>