<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify Account - Perid</title>
    <meta name="description" content="View & Edit your Virtual Personal ID">
    <link rel="shortcut icon" href="/assets/PeridIcon.svg" type="image/x-icon">
    <!-- Fontawesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
    <!-- Custom -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/form.css">
</head>
<body class="preload">
    <div class="content-container container">
        <%- include('../partials/header') %> 

        <div class="wraper">
            <form id="email-verification-account-form" class="d-block" action="/account/send-email-verification" method="POST">
                <%- include('../partials/form-messages') %> 
                <div class="mb-3">
                    <p>
                        Without verifying your email your account doesn't show up on search. 
                        Also, if you don't verify it after 30 days, your account gets permanently deleted. <br>
                        This happens to prevent spam with fake email accounts.
                    </p>
                    <hr>
                    <p>
                        Send email verification to <b><%= user.email %></b> <br>
                        Wrong email? <a href="/account/my-account/edit/">Change it</a>
                    </p>
                </div>
                <button type="submit" class="btn btn-primary"><i class="fas fa-envelope"></i> Send</button>
            </form>
        </div>
    </div>
</body>
<!-- Bootstrap -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/main.js"></script>
</html>