<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create an API key - Perid</title>
    <meta name="description" content="Create an API Access Key to embedded use the Perid API is your app.">
    <link rel="shortcut icon" href="/assets/PeridIcon.svg" type="image/x-icon">
    <!-- Fontawesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
    <!-- Custom -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/form.css"> 
</head>
<body class="preload">
    <div class="content-container container">
        <%- include('../partials/header') %> 
        <div class="wraper">
            <h2>Create an API Access Key</h2>
            <hr>
            <div>
                <form action="/dashboard/create-api-key" class="d-block" method="post">
                    <%- include('../partials/form-messages') %> 
                    <div class="mb-2">
                        <label for="KeyOwnerId"><i class="fas fa-user"></i> Owner ID</label>
                        <input type="text" id="KeyOwnerId" name="ownerId" value="<%= user.id %>" disabled>
                    </div>
                    <div class="mb-2">
                        <label for="KeyPlanSelect"><i class="fas fa-scroll"></i> Plan</label>
                        <select id="KeyPlanSelect" name="plan" aria-label="Select Plan">
                            <option value='basic'
                            <%= typeof planSelect != 'undefined' ? planSelect == 'Basic' ? 'selected' : '' : '' %>>
                                Basic (1,000 / month)
                            </option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary"><i class="fas fa-key"></i> Create</button>
                    <span class="form-text" style="margin-left: 5px;">
                        Go to <a href="/dashboard">Dashboard</a>
                    </span>
                </form>
            </div>
        </div>
    </div>
</body>
<!-- Bootstrap -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/main.js"></script>
</html>