<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Lookup - Perid</title>
    <meta name="description" content="A Virtual Personal ID for everyone.">
    <link rel="shortcut icon" href="/assets/PeridIcon.svg" type="image/x-icon">
    <!-- Fontawesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
    <!-- Custom -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/form.css">
</head>
<body class="preload">
    <div class="content-container container">
        <%- include('./partials/header') %> 

        <div class="wraper">
            <form id="lookup-pid-form" class="d-block" method="POST">
                <div class="mb-3">
                    <h2>Perid – User Search Engine</h2>
                    <p>Use this search engine to find users registered in Perid. <br>
                    Learn more about Perid <a href="/docs#about">here</a>.</p>
                </div>
                <hr>
                <div class="mb-3 msg-wraper">
                    <%- include('./partials/form-messages') %> 
                </div>
                <div class="mb-1 form-wraper">
                    <label for="InputId">User ID</label>
                    <input type="text" id="InputId" placeholder="Enter user's ID" required
                    value="<%= typeof query != 'undefined' ? query : '' %>">
                </div>
                <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i> Find User</button>
            </form>
        </div>
    </div>
</body>
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Custom -->
<script src="/js/main.js"></script>
<script src="/js/index.js"></script>
</html>