@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap');

.mono-font {
    font-family: 'Roboto Mono', monospace;
}

.api-key-info-group {
    display: flex;
    flex-direction: row;
}

.api-key-info-group input {
    flex-grow: 2;
    border: none;
    border-radius: 3px 0 0 3px;
}

.api-key-info-group button {
    height: 36px;
    transform: translateY(5px);
    border-radius: 0 3px 3px 0;
}

.api-mon-usage-group {
    background-color: #E8ECEF;
    border: 2px solid hsl(206, 18%, 82%);
    padding: 12px 14px;
    border-radius: 10px;
}

.api-mon-usage-group .group-title {
    font-weight: 600;
    font-size: 12pt;
}

.api-mon-usage-group .group-title .fas {
    margin-right: 5px;
}

.api-mon-usage-group .group-content {
    background-color: hsl(210, 11%, 25%);
    color: rgba(255, 255, 255, 0.5);
    padding: 4px 10px;
    border-radius: 5px;
    width: fit-content;
}

.api-mon-usage-group .group-content span {
    color: rgba(255, 255, 255, 0.75);
    font-weight: 500;
}