form {
    display: inline-block;
    user-select: none;
    -moz-user-select: none;
}

input, select {
    outline: none;
    line-height: 1.5;
    background-color: hsl(200, 9%, 14%) !important;
    border: none;
    color: #f5e2bb;
    border-radius: 3px;
    padding: 6px 10px;
    font-family: inherit;
    font-size: 12pt;
    font-weight: 500;
    margin: 5px 0;
    width: 100%;
    transition: .15s ease-in-out;
}

select {
    padding: 0;
    border: 8px solid hsl(200, 9%, 14%);
}

select:enabled:hover {
    border-color: hsl(200, 9%, 19%);
    background-color: hsl(200, 9%, 19%) !important;
}

input:enabled:hover, input:focus {
    background-color: hsl(200, 9%, 20%) !important;
}

input::placeholder {
    color: hsl(210, 11%, 68%);
}

input:disabled {
    color: hsl(210, 11%, 60%);
}

.btn {
    user-select: none;
    display: inline-block;
    line-height: 1.5;
    outline: none;
    cursor: pointer;
    background-color: hsl(210, 11%, 85%);
    border: 0;
    color: hsl(210, 11%, 25%) !important;
    border-radius: 5px;
    padding: 6px 10px;
    font-family: inherit;
    font-size: 11pt;
    font-weight: 500;
    text-decoration: none;
    transition: background-color, .15s ease-in-out;
}

.btn:disabled {
    cursor: not-allowed !important;
    opacity: .925;
}

.btn:enabled:focus, .btn:enabled:hover,
a.btn:focus, a.btn:hover {
    background-color: hsl(210, 11%, 75%) !important;
}

/* Dark button */
.btn.btn-dark {
    background-color: hsl(200, 9%, 14%) !important;
    color: #f5e2bb !important;
}

.btn.btn-dark:enabled:active, .btn.btn-dark:enabled:hover,
a.btn.btn-dark:active, a.btn.btn-dark:hover {
    background-color: hsl(200, 9%, 20%) !important;
}

/* Primary button */
.btn.btn-primary {
    background-color: hsl(216, 98%, 52%) !important;
    color: white !important;
}

.btn.btn-primary:enabled:active, .btn.btn-primary:enabled:hover,
a.btn.btn-primary:active, a.btn.btn-primary:hover {
    background-color: hsl(216, 98%, 58%) !important;
}

/* Success button */
.btn.btn-success {
    background-color: hsl(152, 68%, 35%) !important;
    color: white !important;
    font-weight: 500;
}

.btn.btn-success:enabled:active, .btn.btn-success:enabled:hover,
a.btn.btn-success:active, a.btn.btn-success:hover {
    background-color: hsl(152, 68%, 40%) !important;
}

/* Danger button */
.btn.btn-danger {
    background-color: #dc3545 !important;
    color: white !important;
    font-weight: 500;
}

.btn.btn-danger:enabled:active, .btn.btn-danger:enabled:hover,
a.btn.btn-danger:active, a.btn.btn-danger:hover {
    background-color: hsl(354, 70%, 59%) !important;
}

/* Warning button */
.btn.btn-warning {
    background-color: #e0a800 !important;
    color: #212529 !important;
    font-weight: 500;
}

.btn.btn-warning:enabled:active, .btn.btn-warning:enabled:hover,
a.btn.btn-warning:active, a.btn.btn-warning:hover {
    background-color: hsl(45, 100%, 50%) !important;
}

.btn .fas {
    margin-right: 2.5px;
}

.form-text {
    font-size: 10pt;
    font-weight: 500;
    color: #585858;
}

label {
    user-select: none;
}

/* Required fields */
label.required::after {
    content: '*';
    color: red;
    margin-left: 5px;
    font-weight: 500;
}

/* File select group */
.file-select-group {
    display: flex;
    width: 100%;
}

.file-select-group button {
    min-width: fit-content;
    min-width: -moz-fit-content;
    border-radius: 5px 0 0 5px;
    background-color: hsl(210, 11%, 85%) !important;
    height: 33px;
}

.file-select-group button:hover, .file-select-group button:focus {
    background-color: hsl(210, 11%, 80%) !important;
}

.file-select-group label {
    background-color: hsl(210, 11%, 45%) !important;
    color: whitesmoke;
    padding: 4px 9px;
    border-radius: 0 5px 5px 0;
    word-break: break-all;
    height: 33px;
}

.file-select-group label.wrong {
    color: #fc8d79;
    font-weight: 500;
}

/* Alerts */
.alert {
    padding: 16px;
    border-radius: 5px;
    margin: 5px 0 15px 0;
    user-select: none;
}

.alert.alert-warning {
    background-color: hsl(46, 100%, 90%);
    color: hsl(46, 100%, 20%);
    border: 1px solid hsl(46, 100%, 75%);
}

.alert.alert-success {
    background-color: hsl(154, 30%, 86%);
    color: hsl(154, 30%, 30%);
    border: 1px solid hsl(154, 30%, 76%);
}

.alert .alert-content {
    display: inline-block;
    width: calc(100% - 20px);
}

.alert .btn-close {
    outline: 0;
    border: 0;
    cursor: pointer;
    font-size: 12pt;
    display: inline-block;
    background-color: transparent;
    color: inherit;
    margin-left: auto;
    padding: 0;
}

.alert .btn-close:hover {
    opacity: .75;
}

form div.form-bottom-text {
    font-size: 10pt;
    color: gray;
}

form .f-right {
    float: right;
}

/* Toggle password button */
#togglePassword {
    cursor: pointer;
    float: right;
    transform: translateX(-10px) translateY(-30px);
    color: whitesmoke;
}