/* Global */
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: hsl(0, 0%, 15%);
    margin-bottom: 30px;
}

nav.navbar {
    user-select: none;
    -moz-user-select: none;
}

li.nav-item.logout-menu-item form {
    transform: translateY(5px);
}

@media only screen and (max-width: 991px) {
    li.nav-item.logout-menu-item {
        display: none;
    }
}

.light-text {
    font-weight: lighter;
}

p:last-child {
    margin-bottom: 0;
}

form {
    user-select: none;
    -moz-user-select: none;
}

fieldset {
    padding: 10px 15px;
    border: 3.5px solid #343a40;
    border-radius: 5px;
}

.alert:last-child {
    margin-bottom: 0;
}

.alert-success fieldset {
    border: 3.5px solid #0f5132;
}

.alert-warning fieldset {
    border: 3.5px solid #664d2f;
}

fieldset legend {
    float: none;
    width: auto;
    padding: 0px 5px;
    margin-bottom: 0;
}

div.spacer {
    padding: 10px;
}

/* Content Container */
div.content-container {
    background-color: whitesmoke;
    border-radius: 0 0 10px 10px;
    padding: 0;
}

@media only screen and (max-width: 575px) {
    body {
        background: whitesmoke;
        margin-bottom: 0px;
    }
}

div.content-container .wraper {
    padding: 15px;
}

/* Nav Bar */
nav a.navbar-brand img {
    width: 32px;
    transform: translateY(-3px);
}

nav div.navbar-collapse ul.navbar-nav {
    margin-bottom: 0 !important;
}

nav div.navbar-collapse .seperator {
    height: 2px;
    margin: 5px 0 !important;
    background-color: white !important;
}

/* Message Container */
.message-container div.alert {
    margin-bottom: 0;
    margin-top: 10px;
}

/* Code Container */
.code-container {
    background-color: #171717;
    padding: 7px 14px;
    border-radius: 5px;
}