<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documention - Perid</title>
    <meta name="description" content="Learn how to use the Perid API">
    <link rel="shortcut icon" href="/assets/PeridIcon.svg" type="image/x-icon">
    <!-- Fontawesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
    <!-- Custom -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/form.css">
</head>
<body class="preload">
    <div class="content-container container">
        <%- include('../partials/header') %> 

        <div class="wraper">
            <div class="mb-2">
                <span style="color: red; font-weight: 500;">！</span>Please read <a href="/docs/tos">Terms of Services</a> and <a href="/docs/privacy-policy">Privacy Policy</a> before using our Services.
            </div>
            <!-- What's Perid -->
            <fieldset id="about">
                <legend>What's Perid</legend>
                <p>
                    Perid is a Virtual Personal ID that contains some basic information about you. Others, can use it to learn some information about you or get in touch with you.
                </p>
                <p>
                    In a way, Perid is a social network. The only difference from all the other common social networks, is that you cannot upload or share content. In a way, it is 
                    a social network at it's simplest form.
                </p>
                <hr>
                <p>
                    Perid is a product built and managed by <a href="https://billvog.ga" target="_blank" rel="noopener noreferrer">BILLVOG</a>.
                </p>
            </fieldset>
            <div class="spacer"></div>
            <!-- API Documention -->
            <fieldset>
                <legend>API Documention</legend>
                <p>
                    Perid also provides an API that you can use in your app to find a user registered is our databases. <br>
                    <p>
                        The base url of the API is <code>https://api.perid.tk/[api-access-key]/</code> where [api-access-key] is your API access key. <br>
                        To quickly check if the API is working make a request to <code>https://api.perid.tk/[api-access-key]/test</code> using your API key.
                    </p>
                    If the API is working the output will look like:
                    <div class="code-container" style="margin-top: 10px;">
                        <code>
                            {<br>
                                &emsp;"error": false,<br>
                                &emsp;"message": "The API is up!"<br>
                            }
                        </code>
                    </div>
                    <br>
                    <h2>→ Limits</h2>
                    <p>
                        Every IP is limited to make 30 requests per minute. This happens to prevent spamming requests. <br>
                        Additionaly, a basic API access key can make up to 1,000 requests per month. You can view how many requests you have left in your <a href="/dashboard">dashboard</a>.
                    </p>
                    <h2>→ API access key</h2>
                    <p>
                        To get yourself an API access key you need to <a href="/account/register">create an account at Perid</a>. That requires not payment. <br>
                        Then, go to <a href="/dashboard/create-api-key">Create an API key</a> page to get one right away. Currently, each account can only have one API key.
                    </p>
                    <h2>→ Get user by ID</h2>
                    <p>
                        Getting a user by ID requires a GET request @ <code>https://api.perid.tk/[api-access-key]/[pid]</code>
                        where [pid] is the ID of the user you want to search
                    </p>
                    <p>
                        The API returns a json object that contains: <br>
                        An <code>error</code> boolean, if true, there was an error, if not, request operated successfully. <br>
                        If there was an error the api returns a <code>message</code> string that contains a message explaining the error. <br>
                        If there was no error the api returns a boolean <code>foundID</code> that specifies if the given id is registered to a user. <br>
                        If a user is found then the api returns an object <code>ID</code> that contains the found user.
                    </p>
                    The json object that the API returns looks like this: <br>
                    <div class="code-container" style="margin-top: 10px;">
                        <code>
                            {<br>
                                &emsp;"error": false,<br>
                                &emsp;"foundID": true,<br>
                                &emsp;"ID": {<br>
                                &emsp;&emsp;"firstName": "John",<br>
                                &emsp;&emsp;"middleName": "",<br>
                                &emsp;&emsp;"lastName": "Smith",<br>
                                &emsp;&emsp;"birthdate": "2001-05-28T00:00:00.000+00:00",<br>
                                &emsp;&emsp;"phone": "2025550104",<br>
                                &emsp;&emsp;"email": "jhon.smith@outlook.com"<br>
                                &emsp;}<br>
                            }
                        </code>
                    </div>
                    <br>
                    <h2>→ Get user Avatar or Qr (by ID)</h2>
                    <p>
                        If you want to get user's avatar or QR make a GET request @ <code>https://api.perid.tk/[api-access-key]/[pid]/avatar</code> or <code>https://api.perid.tk/[api-access-key]/[pid]/qr</code> 
                        where [pid] is the ID of the user you want to search
                    </p>

                    In this case API returns an image buffer (if succeed).<br>
                    If the API fails, for some reason to retrieve the image from the server, it will return an <code>500 Internal Server Error</code>. <br>
                    If the provided ID doesn't match to any in the database then it will respond with a <code>404 Not Found</code> error.
                </p>
            </fieldset>
        </div>
    </div>
</body>
<!-- Bootstrap -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/main.js"></script>
</html>